# Stable /dev/autopilot symlink for the flight controller. Install with:
#   sudo cp docker/99-autopilot.rules /etc/udev/rules.d/
#   sudo udevadm control --reload && sudo udevadm trigger

SUBSYSTEM=="tty", ATTRS{idVendor}=="3185", ATTRS{idProduct}=="0038", SYMLINK+="autopilot"
